<style>
      .container {
        width: 100%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
  @media (min-width:600px){.container{width: 80%;}}
  @media (min-width:768px){.container{width: 60%;}}
  @media (min-width:1024px){.container{width: 50%;}}
</style>


<div class="container">
  <h1>Do you really want to leave this website???</h1>
  <p><img src="https://imgs.qiubiaoqing.com/qiubiaoqing/imgs/61faac4619f1bwQg.gif" 
    width="40%" height="200px"style="margin-left:25%"></p >
  <form action="/real_end" method="post" style="margin-left: 25%;">
      <input type = "submit" value="Yes!" style="width:50%;height:100px;background-color: #FFFDE7;">
  </form>
  <form action="/main" method="post" style="margin-left: 25%;">
      <input type = "submit" value="No~" style="width:50%;height:100px;background-color: #FFF9C4;">
  </form>
  </div>
