<style>
      .container {
        width: 100%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
  @media (min-width:600px){.container{width: 80%;}}
  @media (min-width:768px){.container{width: 60%;}}
  @media (min-width:1024px){.container{width: 50%;}}
</style>


<div class = "container">
<h1>Welcome to Singapore</h1>
<p><img src = "https://i.pinimg.com/originals/28/81/54/2881541cb262cfb7658f56697cae471d.jpg" width="500px" height="300px"></p>
<form action = "/main" method = "post">
  <h2>My name is Ah Bao, may I know your name : </h2>
  <input type = "text"  style="width:300px;height: 50px;"  name = "r" size="50px">
<!-- </form>
<form> -->
<!-- <p></p> -->
  <input type = "submit" value = "Enter" style="width:100px;height: 50px;margin-left: 5%;">
</form>
</div>
