<style>
    .container {
        width: 100%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;

    }


  @media (min-width:600px) {
    .container {
      width: 80%;
    }
  }

  @media (min-width:768px) {
    .container {
      width: 60%;
    }
  }

  @media (min-width:1024px) {
    .container {
      width: 50%;
    }
  }
</style>
<div class="container">
<h1>Hi, {{r}}, How can help you today?</h1>
  <form action="/about_ntu" method="post" style="margin-left: 25%;">
    <input type="submit" value="About NTU" style="width:50%;height:100px;background-color: #ECEFF1;">
  </form>
  <p></p>
  <form action="/text_gpt" method="post" style="margin-left: 25%;">
    <input type="submit" value="Text Generator" style="width:50%;height:100px;background-color: #CFD8DC;">
  </form>
  <p></p>
  <form action="/image_gpt" method="post" style="margin-left: 25%;">
    <input  type="submit" value="Image Generator" style="width:50%;height:100px;background-color: #B0BEC5;">
  </form>
  <p></p>
  <form action="/end" method="post" style="margin-left: 25%;">
    <input type="submit" value="END" style="width:50%;height:100px;background-color: #90A4AE;">
  </form>
</div>