<style>
    .container {
      width: 100%;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
  }
@media (min-width:600px){.container{width: 80%;}}
@media (min-width:768px){.container{width: 60%;}}
@media (min-width:1024px){.container{width: 50%;}}
</style>


<div class = "container">
<h1>Thank you for visiting us. GOODBYE!</h1>
<img src="https://i.pinimg.com/originals/d1/8f/99/d18f99e75ea847f2b41d0a2eeda5e7eb.jpg" 
    width="500" height="300">
</div>
